<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h2>
        <a href="/articles/<%= article.id %>">
          <%= article.title %>
        </a>
      </h2>
      <p><%= article.body %></p>
    </li>
    <hr/>
  <% end %>
</ul>
